.card {
  border-radius: 14px;
  height: 100%;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border: 1px solid var(--ifm-color-emphasis-200);
  background: white;
}

/* .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.1);
} */

.cardHeader {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.cardIcon {
  font-size: 2rem;
}

.cardFooter {
  margin-top: 1rem;
}
.card {
  border-radius: 14px;
  height: 100%;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border: 1px solid var(--ifm-color-emphasis-200);
  background: white;
}

.card:hover {
  transform: translateY(-0px);
  box-shadow: 0 14px 32px rgba(255, 255, 255, 0.1);
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.cardIcon {
  font-size: 2rem;
}

.cardFooter {
  margin-top: 1rem;
}
